#preloade{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

#preloade h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    animation: loading 2s linear infinite;

}
@keyframes loading {
    0%{
        color: black;
    }
    
}
#gambiarradoindiano{
    display: none;
}