body{
    font-size: 13px;
    font-family: 'Circularpro book', sans-serif;
}
.bodycapa{
    background-image: url(/img/capa1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
}
.home{
    height: 87vh;
    color: #f5f5ff;
}
#apresentacao h1{
    font-size: 4vmax;
    line-height: 4rem;
}
#profissao{
    display: flex;
    align-items: center; 
}
#englobacontenher{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

#projetos h3{
    font-size: 1.5rem;
}
#contenher{
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

@media (max-width: 750px){
    #englobacontenher{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
    }
    #projetos{
        margin-top: 1rem;
    }
    
    #apresentacao h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    
    
}
